<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superbee.aeronautics">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <queries>
        <package android:name="org.mavlink.qgroundcontrol" />
    </queries>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>




    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperBeeApp">


        <meta-data
            android:name="org.osmdroid.config"
            android:value="osm_config" />


        <!-- SplashActivity as launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SuperBeeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other main activities -->
        <activity android:name=".WelcomeActivity" android:exported="true" />
       <!--activity android:name=".MainActivity" android:exported="true" /-->

        <!-- Authentication -->
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".SignupActivity" android:exported="true" />
        <activity android:name=".OtpVerificationActivity" android:exported="true" />

        <!-- Submissions -->
        <activity android:name=".sopform.SubmissionDetailActivity" android:exported="true" />

        <!-- SOP Form -->
        <activity
            android:name=".sopform.SopFormActivity"
            android:exported="true" />

        <activity android:name=".sopform.MyProfileActivity" android:exported="true" />
        <activity android:name=".FarmersActivity" android:exported="true" />
        <activity android:name=".AddFarmerActivity" android:exported="true" />
        <activity android:name=".MissionActivity" android:exported="true" />


        <activity
            android:name=".FullscreenMapActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".DroneDashboardActivity"
            android:screenOrientation="landscape"
            android:exported="false" />


    </application>

</manifest>



